In [5]:
"""
Lets say i have below list -
['C1', 'C2', 'C3']
 and dict {'C1': 'C11', 'C2': 'C21', 'C3': 'C31'}
 
Output :- ['C11', 'C22', 'C31']
"""

l = ['C1', 'C2', 'C3']
d = {'C1': 'C11', 'C2': 'C21', 'C3': 'C31'}
l1 = [d.get(x) for x in l]
print(l1)

d1 = {'C1': 'C11'}
l2 = [d1.get(x, x) for x in l]
print(l2)

['C11', 'C21', 'C31']
['C11', 'C2', 'C3']

In [8]:
def f1(x):
    return x**2

print(f1(2))

x1 = lambda x : x**2
print(x1(2))

4
4

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\rakes\appdata\local\programs\python\python39\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\rakes\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\rakes\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\rakes\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\rakes\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 24.0 is available.
You should consider upgrading via the 'c:\users\rakes\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [14]:
import pandas as pd
data = [
    ("John", "Doe", 30, "Sales", 60000, "2020-01-01"),
    ("Jane", "Smith", 28, "Marketing", 75000, "2018-03-15"),
    ("Michael", "Johnson", 35, "Sales", 80000, "2017-06-10"),
    ("Emily", "Williams", 32, "Marketing", 72000, "2019-02-20"),
    ("William", "Brown", 28, "IT", 90000, "2018-07-05"),
    ("Olivia", "Jones", 40, "IT", 95000, "2015-11-25"),
    ("James", "Miller", 38, "Sales", 70000, "2016-09-12"),
    ("Sophia", "Davis", 29, "Marketing", 71000, "2020-05-30"),
    ("Liam", "Wilson", 31, "IT", 85000, "2019-08-18"),
]
df = pd.DataFrame(data=data)
df.set_index([0], inplace=True)
df

                1   2          3      4           5
0
John          Doe  30      Sales  60000  2020-01-01
Jane        Smith  28  Marketing  75000  2018-03-15
Michael   Johnson  35      Sales  80000  2017-06-10
Emily    Williams  32  Marketing  72000  2019-02-20
William     Brown  28         IT  90000  2018-07-05
Olivia      Jones  40         IT  95000  2015-11-25
James      Miller  38      Sales  70000  2016-09-12
Sophia      Davis  29  Marketing  71000  2020-05-30
Liam       Wilson  31         IT  85000  2019-08-18

In [26]:
d = {'COL1': [1, 2, 3], 'COL2': [5, 6, 7]}
df = pd.DataFrame(d)
print(df)
df.loc[0, 'COL2'] = 6
df.head()

   COL1  COL2
0     1     5
1     2     6
2     3     7

   COL1  COL2
0     1     6
1     2     6
2     3     7

In [2]:
import logging
import time

def logger(func):
  """
  A decorator that logs the execution of a function, including start and end times.
  """
  logging.basicConfig(filename='downloads/mylog.log', level=logging.INFO)

  def wrapper(*args, **kwargs):
    start_time = time.time()
    logging.info(f'Running function: {func.__name__} at {start_time}')
    result = func(*args, **kwargs)
    end_time = time.time()
    logging.info(f'Function {func.__name__} finished at {end_time}')
    logging.info(f'Total execution time: {end_time - start_time}')
    return result

  return wrapper

@logger
def my_function(name):
  """
  A function that prints a greeting and sleeps for 1 second.
  """
  print(f'Hello, {name}!')
  time.sleep(1)

my_function('John')

# Output in mylog.log:
# INFO:root:Running function: my_function at 1678901234.56789
# Hello, John!
# INFO:root:Function my_function finished at 1678901235.56789
# INFO:root:Total execution time: 1.0

Hello, John!

In [1]:
1

1

# End