## Note

Intentionally kept 'Automatically trigger code completions' off from Settings:Editor

## Links

https://www.edureka.co/blog/interview-questions/python-interview-questions/

## Reverse a String

In [1]:
s = 'ABC'
s[::-1]

'CBA'

In [6]:
s = 'ABC'
s1 = ''

for i in s:
    s1 = i+s1
print(s1)

CBA

## Check if a Number is Prime

***A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself. In other words, a prime number is a number that cannot be formed by multiplying two smaller natural numbers. If a number has more than two divisors, it is called a composite number.***

1,2,3,5,7,11,13,...

In [ ]:
def is_prime(n: int) -> bool:
  for i in range(1,n):
    # print(i)
    if n%(i) == 0 and i not in (1,n):
      return False
  return True

is_prime(4)

1
2

False

In [1]:
for i, j in enumerate(range(1,5)):
  print(i, j)

0 1
1 2
2 3
3 4

In this corrected version:

<br>We handle the cases where n is less than or equal to 1 (not prime).
<br>The loop iterates from 2 to the square root of n (inclusive) to check for divisors.
<br>If any divisor is found, the function returns False; otherwise, it returns True.

In [7]:
def is_prime(n: int) -> bool:
    if n <= 1:
        return False  # 0 and 1 are not prime
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

In [8]:
n = 17
print(n**0.5)
print(int(n**0.5))

4.123105625617661
4

## Remove Duplicates from a List

In [ ]:
l1 = [1,2,1,3,4,7,2]
s1 = set(l1)
list(s1)

[1, 2, 3, 4, 7]

In [ ]:
# Original list with duplicates
original_list = [1, 2, 3, 4, 5, 3, 2, 1]

# Remove duplicates while preserving order
unique_list = []
for x in original_list:
    if x not in unique_list:
        unique_list.append(x)

print(unique_list)

[1, 2, 3, 4, 5]

## Randomize list

In [ ]:
import random
l = [4,51,2,1,7]
random.shuffle(l)
l

[7, 1, 51, 4, 2]

## Reverse a list

In [ ]:
l = [1,2,3,4,5]
l[::-1]

[5, 4, 3, 2, 1]

## Find the Largest Element in a List

In [ ]:
l = [45,89,67,1,99,0,-1]
max(l)

99

## Fibonacci Sequence

The sequence follows the rule that each number is equal to the sum of the preceding two numbers. The Fibonacci sequence begins with the following 14 integers: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233 ... Each number, starting with the third, adheres to the prescribed formula.

In [ ]:
def fib(n):
    l = [0, 1]  # Starting list with first two Fibonacci numbers
    for i in range(2, n):  # Start loop from index 2
        l.append(l[i-1] + l[i-2])  # Append the sum of the last two elements
    return l[:n]  # Return the list up to the nth element

# Example usage:
print(fib(10))  # This will print the first 10 Fibonacci numbers

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## Fibonacci Sequence - nth

In [ ]:
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        a, b = 0, 1
        for _ in range(n - 1):
            print(a,b)
            a, b = b, a + b
            print(a,b)
        return b

# Example usage
print(fibonacci(10))  # Output: 55

0 1
1 1
1 1
1 2
1 2
2 3
2 3
3 5
3 5
5 8
5 8
8 13
8 13
13 21
13 21
21 34
21 34
34 55
55

In [ ]:
def fibonaccci(n):
  a=1
  b=1
  l = []
  for i in range(n):
    l.append(a)
    a,b = b,a+b
  return l

print(fibonaccci(10))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

## Sum of Digits in an Integer

In [ ]:
d = 174
d1 = 0
for i in str(d):
  d1 += int(i)
print(d1)

12

In [ ]:
d = 174
(i,j,k) = str(d)
t = (int(i),int(j),int(k))
sum(t)

12

In [ ]:
def sum_of_digits(n):
    return sum(int(digit) for digit in str(n))

# Example usage
print(sum_of_digits(174))  # Output: 10

12

## Find All Unique Subsets of a Set

In [ ]:
def find_subsets(s):
    subsets = [[]]
    for elem in s:
        subsets += [curr + [elem] for curr in subsets]
    return subsets

# Example usage
print(find_subsets([1, 2, 3]))
# Output: [[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]

[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]

## Two Sum Problem

In [ ]:
def two_sum(nums, target):
    seen = {}
    for i, num in enumerate(nums):
        complement = target - num
        if complement in seen:
            return [seen[complement], i]
        seen[num] = i
    return []

# Example usage
print(two_sum([2, 7, 11, 15], 18))  # Output: [0, 1]

[1, 2]

## Find Pivot list

https://leetcode.com/problems/find-pivot-index/description/
<br>https://www.youtube.com/watch?v=u89i60lYx8U&ab_channel=NeetCode

## Revse string without using slicing

## Find longest integer

In [ ]:
def largest_integer_from_binary(binary_string):
    # Split the string on '0' to get all contiguous substrings of '1'
    substrings = binary_string.split('0')

    # Initialize the maximum integer value
    max_value = 0

    # Iterate over the substrings
    for substring in substrings:
        if substring:  # Check if the substring is not empty
            # Convert the substring to an integer and compare with the current max value
            int_value = int(substring, 2)
            if int_value > max_value:
                max_value = int_value

    return max_value

# Example usage
binary_string = "0000011000011100011111"
result = largest_integer_from_binary(binary_string)
print(f"The largest integer from the binary string is: {result}")

The largest integer from the binary string is: 31

In [ ]:
binary_string = "0000011000011100011111"

for i in range(1, len(binary_string)):
  print(i, binary_string[i])
  # if binary_string[i] == binary_string[i-1]:
  #   print(i)

IndexError: string index out of range

In [1]:
def maxConsecutiveOnes(binary_string):
    # Split the binary string by '0' and find the maximum length of consecutive '1's
    return max(map(len, binary_string.split('0')))

# Example usage:
binary_string = "0000011000011100011111"
result = maxConsecutiveOnes(binary_string)
print(result)  # Output: 5 (for '11111')

5

In [3]:
def find_longest_consecutive_digit(s):
    if not s:
        return None  # Empty string

    longest_digit = None
    current_digit = None
    current_count = 0
    max_count = 0

    for digit in s:
        if digit == current_digit:
            current_count += 1
        else:
            current_digit = digit
            current_count = 1

        if current_count > max_count:
            max_count = current_count
            longest_digit = current_digit

    return int(longest_digit * max_count)

# Example usage:
input_string = '1255555334446666666667'
result = find_longest_consecutive_digit(input_string)
print(f"Longest consecutive sequence: {result}")

Longest consecutive sequence: 0